@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <p>
        Run "OpenMultipleTabs.bat" or shift-click the following link a few times in quick succession:
        @Html.ActionLink("Open page", "Page")
    </p>
</body>
</html>
